<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>change-log</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">change-log</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1>Wed, 22 May 2024</h1>
  <h2>
    <ol>
      <li><h2>Create log page</h2><h3>A. Zakharov</h3></li>
      <li><h2>Create home page</h2><h3>A. Zakharov</h3></li>
      <li><h2>Change Images on home page</h2><h3>A. Zakharov</h3></li>
      <li><h2>Bug fix:<br>Telephone mode for open "all tales" on home page</h2><h3>A. Zakharov</h3></li>
      <li><h2>Add under construction page</h2><h3>A. Zakharov</h3></li>
    </ol>
  </h2>
  <h1>Thu, 23 May 2024</h1>
  <h2>
    <ol>
      <li><h2>Fill all glossary</h2><h3>A. Zakharov</h3></li>
      <li><h2>Create migration with new column tales_id in glossary and fill in column</h2><h3>A. Zakharov</h3></li>
      <li><h2>Change Images on tale page</h2><h3>A. Zakharov</h3></li>
      <li><h2>Create normal parser from server</h2><h3>A. Zakharov</h3></li>
    </ol>
  </h2>
  <h1>Fri, 24 May 2024</h1>
  <h2>
    <ol>
      <li><h2>Add tale anout butterfly</h2><h3>A. Zakharov</h3></li>
      <li><h2>Change pdf</h2><h3>A. Zakharov</h3></li>
      <li><h2>Fix style for glossary</h2><h3>A. Zakharov</h3></li>
      <li><h2>Fix style for glossary on tale</h2><h3>A. Zakharov</h3></li>
      <li><h2>Delete download application from landing</h2><h3>A. Zakharov</h3></li>
      <li><h2>Create random word</h2><h3>A. Zakharov</h3></li>
    </ol>
  </h2>
</ion-content>
