<div class="poem">
  <p>(1) Я понял суть дихотомии,<br>
  И в итерациях блистал,<br>
  Хотя, за что назвали их простыми,<br>
  За сей урок я так и не узнал.</p>
</div>

<div class="poem">
  <p>(2) Программу дома сделал я<br>
  И график верно начертил,<br>
  Но на контрольной - будто нет меня,<br>
  Я понял, что я натворил.</p>
</div>

<ion-button *ngIf="!full_text" (click)="openFullText()" color="tertiary" fill="outline">Полный текст</ion-button>

<div *ngIf="full_text">
  <div class="poem">
    <p>(3) Любые с Левченко уроки<br>
    Никто не помнит до конца,<br>
    За столь болезненные сроки<br>
    Контрольная - что кара Высшего Творца.</p>
  </div>
  
  <div class="poem">
    <p>(4) Но это - даже не конец<br>
    Всё худшее лишь только будет,<br>
    Сегодня - просто образец,<br>
    Никто такого не забудет.</p>
  </div>
  
  <div class="poem">
    <p>(5) Неужто все так плохо стало?<br>
    Души крик будто в первый раз.<br>
    Восьмого класса было мало?<br>
    Тогда-то начался рассказ.</p>
  </div>
  
  <div class="poem">
    <p>(6) Я помню чудное мгновенье:<br>
    Передо мной явился ты,<br>
    Недолго верил я в своё виденье,<br>
    Но скоро показался образ Пустоты.</p>
  </div>
  
  <div class="poem">
    <p>(7) Лишь только на его контрольных,<br>
    Способен ученик понять,<br>
    Как сложно из его рассказов древних<br>
    Хоть слово не напрасно упускать.</p>
  </div>
  
  <div class="poem">
    <p>(8) Эх, были люди в наше время,<br>
    Что Левченко террор сумели пережить,<br>
    И рассказали нам герои целую поэму<br>
    О том, какие ужасы способен он творить.</p>
  </div>
  
  <div class="poem">
    <p>(9) Напрасно мы тогда лишь головой кивали,<br>
    Ведь стоило услышать их слова,<br>
    И то напутствие, что нам давали,<br>
    Не забывали б никогда.</p>
  </div>
  
  <div class="poem">
    <p>(10) Героев тех был целый класс,<br>
    Уверенности полны и отчаянья,<br>
    Но кто теперь остался среди нас?<br>
    На это не ответим без рыданья...</p>
  </div>
  
  <div class="poem">
    <p>(11) И вот, настал момент страданья,<br>
    Ударил роковой звонок,<br>
    Вмиг испарились все накопленные знания,<br>
    Но делать нечего: пора нам на урок.</p>
  </div>
  
  <div class="poem">
    <p>(12) За места дальние мы сразу же присели,<br>
    Поможет это нам? Конечно нет,<br>
    Но лучше ничего придумать не успели -<br>
    Уже погас в конце тоннеля свет.</p>
  </div>
  
  <div class="poem">
    <p>(13) Мы долго молча код писали,<br>
    Досадно было, мы искали,<br>
    Любые помощи приметы,<br>
    И вдруг, как проблеск света,<br>
    Программу кто-то написал,<br>
    Не понимая, что он подписал.</p>
  </div>
  
  <div class="poem">
    <p>(14) Спустя минуту - сообщенье,<br>
    Ещё одна программа есть.<br>
    Но было у кого-то верное виденье?<br>
    Случилось так вот класс развесть.</p>
  </div>
  
  <div class="poem">
    <p>(15) Как оказалось, ни один<br>
    Из двух людей, правее не был.<br>
    Работал код один в один.<br>
    И все всё поняли, кто раньше верил.</p>
  </div>
  
  <div class="poem">
    <p>(16) К концу уж время подходило,<br>
    Мы начали паниковать<br>
    И кончено для нас уже всё было,<br>
    Но надо было завершать.</p>
  </div>
  
  <div class="poem">
    <p>(17) Чудесен был момент прощанья,<br>
    Прошёл не быстро наш урок,<br>
    Хотя, весь класс в слезах отчаянья,<br>
    Просил ещё один часок.</p>
  </div>
  
  <div class="poem">
    <p>(18) Как долго повесть была пета,<br>
    Как много Левченко сулил,<br>
    Среди его рассказов, где-то,<br>
    Он тебе место посвятил.</p>
  </div>
  
  <div class="poem">
    <p>(19) В хорошем смысле, иль в плохом,<br>
    В большой истории, иль в малой,<br>
    Ты всё же осквернён грехом,<br>
    И будет повесть та твоей расплатой.</p>
  </div>
  
  <div class="poem">
    <p>(20) На том уроке что-то изменилось,<br>
    Не стало части нас,<br>
    И мы клялись, чтоб больше не свершилось,<br>
    Того, что сделало возможным сей рассказ.</p>
  </div>
  
  <div class="poem">
    <p>(21) И верили мы уже не так ясно,<br>
    Но кто из нас обманут снова быть хотел?<br>
    Все знали, что надеялись они напрасно,<br>
    И та работа - даже близко не предел.</p>
  </div>
  
  <div class="poem">
    <p>(22) Конец настал, и вот в момент,<br>
    Когда на выход поспешили,<br>
    По горю моему сосед,<br>
    Сказал: "Воспеть сей день должны мы!"</p>
  </div>

  <ion-button (click)="closeFullText()" color="tertiary" fill="outline">Скрыть текст</ion-button>
</div>
