<div class="poem">
  <p>(1) Скажи, товарищ, что про время,<br>
    Когда могли мы отдыхать,<br>
    Неся учебы тяжкой бремя,<br>
    Ты хочешь другу рассказать?</p>
</div>

<div class="poem">
  <p>(2) Каникул дней прекрасных<br>
    Я не почувствовал в сей раз<br>
    Казалось это всё напрастным,<br>
    Но очень счастлив я сейчас.</p>
</div>

<ion-button *ngIf="!full_text" (click)="openFullText()" color="tertiary" fill="outline">Полный текст</ion-button>

<div *ngIf="full_text">
  <div class="poem">
    <p>(3) Как можно столь счастливым быть,<br>
      Влача с собою лямки рока,<br>
      Неделю проведя без прока,<br>
      И что в итоге сотворить?</p>
  </div>

  <div class="poem">
    <p>(4) Я видел взгляд твой обреченный,<br>
      Когда ты выходил из царства тьмы.<br>
      Не столь казался он, как говоришь, довольным,<br>
      Но расскажи, и не забудем мы.</p>
  </div>

  <div class="poem">
    <p>(5) Один был день страшней другого,<br>
      Но должен я пересказать,<br>
      Что было в Школе Королёва,<br>
      Всё в красках должен описать.</p>
  </div>

  <div class="poem">
    <p>(6) Мосты мы строили, ракеты,<br>
      И мыслить, даже уходя,<br>
      Не прекращали про планеты,<br>
      То было раем для меня.</p>
  </div>

  <div class="poem">
    <p>(7) В твоих словах, пусть даже, я не вижу доли правды,<br>
      Но только ты не вздумай завершать.<br>
      Быть может, путь туда был полностью оправдан,<br>
      Но, видимо, не суждено мне этого понять.</p>
  </div>

  <div class="poem">
    <p>(8) Мой путь, однако, был не прост,<br>
      Сперва ходить мне было лень,<br>
      Но в будущее сделан мост,<br>
      Старанье оправдалось в первый день.</p>
  </div>

  <div class="poem">
    <p>(9) Не только космосу учились,<br>
      Но жизнь увидели в другом,<br>
      Учёной жизнью вдохновились<br>
      И не забудем ни о чём.</p>
  </div>

  <div class="poem">
    <p>(10) Задачу в первый день решали,<br>
      Как лифт космический создать.<br>
      Тогда еще мы мало знали,<br>
      С нуля пришлось все изучать.</p>
  </div>

  <div class="poem">
    <p>(11) Второго дня воспоминанье<br>
      Представилось так ясно мне:<br>
      Станков рабочее старанье<br>
      Я слышал после и во сне.</p>
  </div>

  <div class="poem">
    <p>(12) Мне третий день запомнился иначе:<br>
      Мосты мы строили тогда,<br>
      Решая инженерную задачу,<br>
      Запомнили тот опыт навсегда.</p>
  </div>

  <div class="poem">
    <p>(13) В четвёртый день, готов признать,<br>
      Хотя, я понял мало, честно,<br>
      Однако план ракеты составлять<br>
      Мне было очень интересно.</p>
  </div>

  <div class="poem">
    <p>(14) За эти дни я научился<br>
      Не просто знанья принимать,<br>
      Но новый навык мне привился:<br>
      Мечтать, стремиться, понимать.</p>
  </div>

  <div class="poem">
    <p>(15) Хотя, не только мы учились,<br>
      Ещё была программы цель,<br>
      Чтоб мы работать научились,<br>
      Все в коллективе, словно цепь.</p>
  </div>

  <div class="poem">
    <p>(16) Почти закончил свой рассказ,<br>
      Последний, пятый день остался.<br>
      Смотрел я, не смыкая глаз,<br>
      Своей ракетой восхищался.</p>
  </div>

  <div class="poem">
    <p>(17) Да, именно в тот день,<br>
      Апофеозом всей недели,<br>
      Ракеты строить было нам не лень,<br>
      И через час они уже взлетели...</p>
  </div>

  <div class="poem">
    <p>(18) Своей историей сих дней<br>
      Я поделился без отказа.<br>
      Конец истории моей,<br>
      Настало время твоего рассказа.</p>
  </div>

  <div class="poem">
    <p>(19) Я помню, что за испытанье <br>
      Мне довелось тогда пройти:<br>
      Вставал я без какого-либо пониманья,<br>
      Зачем, куда и как идти.</p>
  </div>

  <div class="poem">
    <p>(20) И все же, было скрытое желанье,<br>
      Чтоб не был мой поход туда напрасен.<br>
      Но вскоре мне вернулось осознанье:<br>
      Не мог он быть и близко сколь-нибудь прекрасен.</p>
  </div>

  <div class="poem">
    <p>(21) Пожалуй, мало что есть хуже,<br>
      Чем в свой каникулярный день<br>
      Ходить с утра на холоде, по лужам,<br>
      А не лежать в кровати, как тюлень.</p>
  </div>

  <div class="poem">
    <p>(22) И даже если так, ужели то ученье,<br>
      Что обещали в Королева преподать,<br>
      Окупит то единственное воскресенье,<br>
      Последнее, чего не стали отбирать?</p>
  </div>

  <div class="poem">
    <p>(23) Я знаний ждал, свершений новых,<br>
      Но ощутил свое лишь разочарованье,<br>
      За пару дней, там мною проведенных,<br>
      Я не продвинулся нисколь в своих познаньях.</p>
  </div>

  <div class="poem">
    <p>(24) Определенно, классно было<br>
      В музее самолетов побывать,<br>
      Да, правда, только, что забыл я<br>
      Тогда в учебном заведении, как сказать.</p>
  </div>

  <div class="poem">
    <p>(25) Быть может, был бы в этом смысл,<br>
      Если один лишь день мы провели бы там,<br>
      Однако ж, потерять каникул целую неделю, вот в чем мысль,<br>
      Не очень то хотелось нам.</p>
  </div>

  <div class="poem">
    <p>(26) Я понял: ты желал ученья,<br>
      Но что в итоге получил?<br>
      Ещё бы чуточку терпенья<br>
      И ты бы точно отходил.</p>
  </div>

  <div class="poem">
    <p>(27) На день второй не стало лучше,<br>
      Я сдаться уж хотел тогда,<br>
      И больше, на занятиях грядущих<br>
      Не появлялся никогда.</p>
  </div>

  <div class="poem">
    <p>(28) Я вижу, что тебе не сильно,<br>
      Хотелось выходные пропускать,<br>
      Ты, отходив два дня насильно,<br>
      Способен что-то описать.</p>
  </div>

  <div class="poem">
    <p>(29) Да, было очень тяжело,<br>
      Уснул я, слушая твои рассказы,<br>
      Ко мне желанье так и не пришло,<br>
      Не будет меня там больше ни разу.</p>
  </div>

  <div class="poem">
    <p>(30) Не только нам каникул время<br>
      Пришлось со Школой Королёва провести,<br>
      Теперь проектов наших бремя,<br>
      Должны всё там же мы нести.</p>
  </div>

  <div class="poem">
    <p>(31) Писать проекты не хотели,<br>
      Но нам сказали, что должны,<br>
      Теперь, заметили на деле,<br>
      Насколько всё ж они сложны.</p>
  </div>

  <div class="poem">
    <p>(32) Хоть взять проект было не трудно,<br>
      И даже тему подобрать,<br>
      Число же мыслей наших скудно,<br>
      А надо что-то создавать.</p>
  </div>

  <div class="poem">
    <p>(33) Сейчас же оды завершенье,<br>
      Так грустно мне знаменовать,<br>
      Но всё ж закончилось виденье,<br>
      Нам стоит скоро завершать.</p>
  </div>

  <div class="poem">
    <p>(34) Хоть скоро стих закончим наш,<br>
      Не скоро время мы забудем,<br>
      Недели выходной кураж,<br>
      И знанья долго помнить будем.</p>
  </div>

  <div class="poem">
    <p>(35) Конец стиха же скажем вместе,<br>
      И перестанем мы опять,<br>
      Воспоминанья о том месте,<br>
      Себе сегодня представлять.</p>
  </div>

  <div class="poem">
    <p>(36) Не будем больше говорить,<br>
      Проекты точно мы сдадим,<br>
      Но как могли мы то забыть,<br>
      Спасибо вам сказать хотим.</p>
  </div>

  <ion-button (click)="closeFullText()" color="tertiary" fill="outline">Скрыть текст</ion-button>
  </div>